.FormContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 400px;
  padding: 0px 20px 0px 20px;
  border-left: 1px solid #A0A0A0;
}

.Center {
  justify-content: center;
  align-items: center;
}

.ButtonsFooter { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}