.DashboardContainer {
  margin: 20px;
}

.ContentContainer {
  display: flex;
  flex-direction: row;
}

.LoadingContainer {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}